<div class="low">
    <div class="lowpanel">
        <img src="../../assets/trophy.svg" alt="">
        <div>
            <p class="lowpaneltext">High Quality</p>
            <span class="lowpaneltext1">crafted from top materials</span>

        </div>


    </div>
    <div class="lowpanel">
    <img src="../../assets/tik.svg" alt="">
    <div>
         <p class="lowpaneltext">Warranty Protection</p>
    <span class="lowpaneltext1">Over 2 years</span>

    </div>
   
    
</div>
<div class="lowpanel">
    <img src="../../assets/gift.svg" alt="">
    <div>
         <p class="lowpaneltext">Free Shipping</p>
    <span class="lowpaneltext1">Order over 150 $</span>

    </div>
   
    
</div>
<div class="lowpanel">
    <img src="../../assets/human.svg" alt="">
    <div>
         <p class="lowpaneltext">24 / 7 Support</p>   
    <span class="lowpaneltext1">Dedicated support</span>

    </div>
   
    
</div>
</div>