<!-- <h1>Count: {{count}}</h1>
<button (click)="Increment()">+</button> &nbsp;
<button (click)="Decrement()">-</button> -->
<!-- <h1>ngFor Example</h1>
<ul>
    <li *ngFor="let object of objects; let i=index">
       <h2>{{ i+1 }}.{{object}}</h2></li>
</ul> -->
<!-- <h1>first and last example</h1>
<ul>
    <li *ngFor="let object of objects;let isFirst=first; let isLast=last;">
    <strong *ngIf="isFirst">First:</strong>
    <strong *ngIf="isLast">Last:</strong>
    {{object}}
    </li>
</ul> -->
<!-- <h1>Even and Odd example</h1>
<ul>/
<li *ngFor="let object of objects; let isEven=even; let isOdd=odd;"
    [ngClass]="{'even-item':isEven, 'odd-item':isOdd}">
    {{object}}
</li>
</ul> -->
<!-- <p *ngIf="showme">can you hear me?</p> -->
 Applycolour<input type="checkbox" [(ngModel)]="showme">
<p [ngClass]="{'primary':showme}">Angular Tutorial</p>
<p [ngClass]="{'big':showme}">full stack</p>
<p [ngStyle]="{'color':'green','font-size':'80px'}" >Java full stack</p>