<div class="last">
    <div class="lastpanel">
    <div class="lastgap">
        <div class="lastpaneltext">
            Funiro.
        </div>
        <div class ="lastpaneltext2">400 University Drive Suite 200 Coral<br> Gables,<br>
FL 33134 USA</div>
    </div>


   <div class="lastgap1">
    <div class="lastpaneltext3">
            Links
    </div>
    <div class="lastpaneltext4">
        Home
    </div>
    <div class="lastpaneltext4">
       Shop
    </div>
    <div class="lastpaneltext4">
        About
    </div>
    <div class="lastpaneltext4">
        Home
    </div>

   </div>


   <div class="lastgap2">
        <div class="lastpaneltext3">
            Help
    </div>
    <div class="lastpaneltext4">
       Payment Options
    </div>
    <div class="lastpaneltext4">
       Returns
    </div>
    <div class="lastpaneltext4">
        Privacy Policies
    </div>

   </div>
   <div class="lastgap3">
     <div class="lastpaneltext3">
           Newsletter
    </div>
    <div class="row">
     <input placeholder="Enter Your Email Address" class="lastpaneltext5">
        <div class="lastpaneltext6"> <u>SUBSCRIBE</u></div>
   
</div>
</div>
    </div> 
    
    <div class="lasttext">
    <div class="lastpaneltext4">2023 furino. All rights reverved</div>

</div>   
</div>



